[user]
	name = David Cain
	email = davidjosephcain@gmail.com
[color]
	ui = true
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[core]
	excludesfile = ~/Documents/gitfiles/.gitignore_global
[alias]
	ci = commit
    co = checkout
    st = status
    delete = !~/Documents/gitfiles/git-rm-history.sh
