[user]
	name = David Cain
	email = davidjosephcain@gmail.com
[color]
	ui = true
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	excludesfile = ~/Documents/gitfiles/.gitignore_global
	whitespace = trailing-space,space-before-tab
	autocrlf = input
[alias]
	# Shortened built-in commands
	ci = commit
	co = checkout
	st = status
	wh = whatchanged

	d = difftool

	# Custom commands
	delete = !~/Documents/gitfiles/git-rm-history.sh
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
[advice]
	statusHints = false
