[user]
	name = David Cain
	email = davidjosephcain@gmail.com
[color]
	ui = true
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	excludesfile = ~/Documents/gitfiles/.gitignore_global
	whitespace = trailing-space,space-before-tab
	autocrlf = input
	editor = /usr/bin/vim
[alias]
	# General
	a  = add
	bl = blame
	br = branch
	ci = commit
	cia = commit --amend
	co = checkout
	cp = cherry-pick
	rh = reset --hard HEAD
	st = status

	# Meta
	finda = "!grepalias() { git config --global --get-regexp alias | grep -i \"$1\" | awk -v nr=2 '{sub(/^alias\\./,\"\")};{printf \"\\033[31m%_10s\\033[1;37m\", $1};{sep=FS};{for (x=nr; x<=NF; x++) {printf \"%s%s\", sep, $x; }; print \"\\033[0;39m\"}'; }; grepalias"

	# Stashes
	sp = stash pop
	ss = stash show
	sd = stash drop
	sl = stash list

	# Rebasing
	ri = rebase --interactive
	rc = rebase --continue

	# Diffs
	d  = diff
	u = diff -w --word-diff=color
	staged = diff --cached

	# Tags
	ft = fetch --tags
	pt = push --tags

	# Logging
	la = log --pretty=tformat:'%C(magenta)%h%C(reset)%C(red)%d%C(reset) %s [%C(bold blue)%an%C(reset) %C(cyan)%ar%C(reset)]' --graph -p
	lo = log --pretty=tformat:'%C(magenta)%h%C(reset)%C(red)%d%C(reset) %s [%C(bold blue)%an%C(reset) %C(cyan)%ar%C(reset)]'
	lg = log --pretty=tformat:'%C(magenta)%h%C(reset)%C(red)%d%C(reset) %s [%C(bold blue)%an%C(reset) %C(cyan)%ar%C(reset)]' --graph
	wh = whatchanged
	wp = whatchanged -p
	wu = whatchanged -p -w --word-diff=color

	# Custom commands
	delete = !~/Documents/gitfiles/git-rm-history.sh
	sed = !git ls-files | xargs sed -i
	dm = !sh -c 'git branch --merged | grep -v "^master$" | grep -v \"\\*\" | xargs -n 1 git branch -d'
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
[advice]
	statusHints = false

# Work locally in spaces on a repository that's tabbed
[filter "indent"]
	clean = unexpand --tabs=4 --first-only
	smudge = expand --tabs=4 --initial

# Force the use of spaces
[filter "detab"]
	clean = expand --tabs=4 --initial  # Expand tabs to spaces
	smudge = cat  # Take file back (with spaces)
[push]
	default = simple
[grep]
	linenumber = true
